<% if @mode == "forgot_password" %>
	<h1>Forgotten your password?</h1>
<% elsif in_checkout? %>
	<h1>Enter your details</h1>
<% else %>
	<h1>Sign in</h1>
<% end %>

<div class="row">
	<div class="span8 offset2">
		<% if signed_in? %>
			<%= render 'shared/already_signed_in', signin: true, signup: false %>
		<% else %>
			<%= form_for(:session, url: "sessions",  html: { class: "form-horizontal form-validate", id: "form-signin" } ) do |f| %>

				<div class="form_group well">
					<%= render "shared/error_messages", object: @user %>
					<%#= render 'shared/flash_messages' %>

					<% if @mode == "forgot_password" %>
						<p>Enter your email address and we will send you a link to reset your password.</p>
					<% else %>
						<% if in_checkout? %>
							<p>I have an account already</p>
						<% end %>
					<% end %>
					<div class="control-group">
						<%= f.label :user_name, "Email", class: "control-label" %>
						<div class="controls">
							<input name="honey" class="input_honey"/>
							<%= f.email_field :user_name %>
						</div>
					</div>

					<% if @mode != "forgot_password" %>
						<div class="control-group">
							<%= f.label :password, class: "control-label" %>
							<div class="controls">
								<%= f.password_field :password %>
								<%= f.button "Sign in", name: "known_user", class: "btn btn-primary" %>
							</div>
						</div>		
						<%= link_to "Forgotten your password?", signin_path(mode: "forgot_password") %> | <%= link_to "Register with Treasure Hunt Britain", signup_path %>
					<% else %>
						<div class="control-group">
							<div class="controls">
								<%= f.button "Email me a link to reset my password", name: "reset_password", class: "btn btn-primary" %>
							</div>
						</div>		
					
					<% end %>
							
				</div>
			<% end %>

			<% if in_checkout? && @mode != "forgot_password"%>
				<%= form_for(:session, url: "sessions", html: { class: "form-horizontal form-validate2", id: "form-guest" } ) do |f| %>
					<%= render "shared/error_messages", object: @user %>

					<div class="form_group well">
						<p>Continue as guest<br/><small>We will need your email address to send a confirmation <% if need_address? %>and your address to send the Treasure Hunt to<% end %></small></p>

						<div class="control-group">
							<label class="control-label" for="session_email">Email</label>
							<div class="controls">
								<%= f.email_field :email %>
							</div>
						</div>
						<% if need_address? %>
							<%= render 'shared/contact_fields', f: f, guest: true %>
						<% end %>
						<div class="control-group">
							<div class="controls">
								<%= f.button "Continue as guest", name: "guest_user", class: "btn btn-primary" %>
							</div>
						</div>
					</div>
					
				<% end %>
			<% end %>
		<% end %>
	</div>
	
</div>