<h1>Reset password</h1>
<div class="row">
	<div class="span8 offset2">
		<%= form_for(:session, url: "sessions", html: { class: "form-horizontal" } ) do |f| %>
			<%= render "shared/error_messages", object: @user %>

			<div class="form_group well">
				<div class="control-group">
					<label class="control-label" for="session_password">New password</label>
					<div class="controls">
						<%= f.password_field :password %>
					</div>
				</div>		
				<div class="control-group">
					<label class="control-label" for="session_password">Confirm password</label>
					<div class="controls">
						<%= f.password_field :password %>
						<input name="honey" class="input_honey"/>
						<%= f.hidden_field @token %>
						<%= f.button "Update password", name: "update_password", class: "btn btn-primary" %>
					</div>
				</div>		
			</div>
		<% end %>
	</div>
</div>
