<h1>Reset password</h1>
<div class="row">
	<div class="span8 offset2">
		<%= form_tag(reset_password_path, class: "form-horizontal" ) do |f| %>
			<%= render "shared/error_messages", object: @user %>

			<div class="form_group well">
				<div class="control-group">
					<%= label_tag "password", "New password", class: "control-label" %>
					<div class="controls">
						<%= password_field_tag "password" %>
					</div>
				</div>		
				<div class="control-group">
					<%= label_tag "confirm_password", "Confirm password", class: "control-label" %>
					<div class="controls">
						<%= password_field_tag "confirm_password" %>
						<input name="honey" class="input_honey"/>
						<%= hidden_field_tag "token", @token %>
						<%= button_tag "Update password", class: "btn btn-primary" %>
					</div>
				</div>		
			</div>
		<% end %>
	</div>
</div>
