<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Product: <%= @hunt.product.name %></p>
    <p>Hunt ID: <%= @hunt.id %></p>
    <p>Voucher code: <%= @hunt.voucher_code %></p>
    <p>Email: <%= @hunt.email %></p>
    <p>Clue: <%= @clue %></p>    
    <p>Problem: <%= @problem %></p>
  </body>
</html>