<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Arial, Helvetica, Verdana;font-size: 12px;background-color: green;color: #222;margin: 0;padding: 10px;">
  <div style="width: 600px; background: white; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;margin: auto;margin-top: 20px;margin-bottom: 20px;padding: 20px">
 
	<a href="<%= root_url %>"><img alt="Treasure Hunt Britain" style="width: 200px;" src="<%= "#{root_url}/assets/THBLogo.png" %>" /></a>
	<div style="float:right"><a href="<%= signin_url %>" style="color:green; font-weight:bold">Sign in</a></div>
	
    <p style="line-height:1.5em">Dear <%= @user.name %></p>
	<p style="line-height:1.5em">You recently asked to reset your Treasure Hunt Britain password</p>
	
	<p style="line-height:1.5em"><a style="color:green; font-weight:bold" href="<%= reset_password_url %>">Click here to change your password</a></p>
	<p>If you haven't requested to change your password, <a style="color:green; font-weight:bold" href="<%= contact_url %>">let us know</a> immediately</p>

	<p style="line-height:1.5em">Customer Services<br/>
	<a href="<%= root_url %>">Treasure Hunt Britain</a>
	</div>
  </body>
</html>
