<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Arial, Helvetica, Verdana;font-size: 12px;background-color: green;color: #222;margin: 0;padding: 10px;">
  <div style="width: 600px; background: white; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;margin: auto;margin-top: 20px;margin-bottom: 20px;padding: 20px">
 
	<a href="<%= root_url %>"><img alt="Treasure Hunt Britain" style="width: 200px;" src="<%= "#{root_url}/assets/THBLogo.png" %>" /></a>
	<div style="float:right"><a href="<%= signin_url %>" style="color:green; font-weight:bold">Sign in</a></div>
	
    <h1 style="font-size: 1.5em;color:green">Thanks for registering with Treasure Hunt Britain!</h1>
	
    <p style="line-height:1.5em">Dear <%= @user.name %></p>
	<p style="line-height:1.5em">Welcome to Treasure Hunt Britain</p>
	<p style="line-height:1.5em">Here are your login details:</p>
	<p><strong>Your email address: </strong><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
	<p><strong>Your password: </strong> *******</p>

	<p style="line-height:1.5em">You can manage the Treasure Hunts you have purchased through <strong>My Account</strong>.</p>

	<p style="line-height:1.5em">Treasure Hunt Britain aims to provide fun Treasure Hunts,  
	giving everyone the opportunity to explore our favourite places in the UK, in a more interesting way than using a guidebook.</p>
	<p style="line-height:1.5em">Here's how it works:</p>
	<ol>
		<li style="line-height: 1.5em;margin-top: 1em">Choose where you'd like to do a treasure hunt from our catalogue</li>
		<li style="line-height: 1.5em;margin-top: 1em">Decide whether you want to play on your phone/tablet, or have a paper booklet to follow</li>
		<li style="line-height: 1.5em;margin-top: 1em">You can get the booklet as a PDF to print yourself, or we can send you one in the post</li>
		<li style="line-height: 1.5em;margin-top: 1em">If several teams are going to compete, order one copy of the hunt for each team </li>
	</ol>
	

	<p style="line-height:1.5em">If you have any questions, please visit our <a style="color:green; font-weight:bold" href="<%= faq_url %>">FAQ</a>.  
	If you still can't find the answer to your question, fill in our <a style="color:green; font-weight:bold" href="<%= contact_url %>">online feedback form</a> 
	and we will get back to you.</p>
	
    <p style="font-size: 1.5em;color:green">Thanks again for buying our treasure hunt.  Have a great day!</p>
	</div>
  </body>
</html>
