<div class="row">
	<div class="span10 offset1">
	
	<h1>Thanks for your purchase!</h1>
	<p>We will send a confirmation email to <%= @purchase.user.email %></p>
	<p>Your reference number is: <strong><%= @purchase.reference %></strong></p>
	
		<table class="table table-bordered table-striped">
			<thead>
				<th>Description</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Sub total</th>
			</tr>
			<% @purchase.purchase_items.each do |item| %>
				<tr>
					<td><%= item.description %></td>
					<td><%= number_to_currency(item.unit_price) %></td>
					<td><%= item.quantity %></td>
					<td><%= number_to_currency(item.total_price) %></td>
				</tr>
			<% end %>
			<tr>
				<td colspan="4" style="text-align:right;font-weight:bold">Order total price <%= number_to_currency(@purchase.price_total) %></td>
			</tr>
		</table>
	</div>
</div>