<% provide(:title, @user.name) %>

<div class="row" >
	<aside class="span3 offset1 well">
			<%= link_to "Log out", signout_path, method: "delete", class: "pull-right" %>
		<section>
			<h1><%= @user.name %></h1>
			<em><%= @user.email %></em>
			<address>
				<%= output_address_line(@user.address_1) %>
				<%= output_address_line(@user.address_2) %>
				<%= output_address_line(@user.town) %>
				<%= output_address_line(@user.county) %>
				<%= output_address_line(@user.postcode) %>
				<%= output_address_line(@user.country) %>
				<%= output_phone(@user.phone) %>
			</address>
			<%= link_to "Edit my address", edit_user_path %><br/>
		</section>
	</aside>
	<div class="span6">
		<section>
			<h2>Transactions: <%= @user.purchases.count %></h2>
			<%= render "shared/purchase_table", obj: @user.purchases, admin: false %>
		</section>
		
		<section>
			<h2>Hunt Library</h2>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Hunt</th>
						<th>Voucher</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% @user.hunts.each do |hunt| %>
						<tr>  
						  <td><%= hunt.product.name %></td>
						  <td><%= link_to hunt.voucher_code, "/hunt_login?voucher=" + hunt.voucher_code %></td>
						  <td><%= status_string(hunt) %></td>
						</tr>			
					<% end %>

				<tbody>
			</table>
		</section>
	</div>
	
</div>


<%= link_to "Send welcome email", user_path( email: "welcome" ) %>
