<% provide(:title, @user.name) %>

<div class="row-fluid" >

	<div class="span4 offset1">
		<aside class="well">
				<%= link_to "Log out", signout_path, method: "delete", class: "pull-right" %>
			<section>
				<h1><%= @user.name %></h1>
				<p><strong><%= @user.email %></strong></p>
				<address>
					<%= output_address_line(@user.address_1) %>
					<%= output_address_line(@user.address_2) %>
					<%= output_address_line(@user.town) %>
					<%= output_address_line(@user.county) %>
					<%= output_address_line(@user.postcode) %>
					<%= output_address_line(@user.country) %>
					<%= output_phone(@user.phone) %>
				</address>
				<%= link_to "Edit my address", edit_user_path %><br/>
			</section>
		</aside>
		<div class="bottom-margin"><%= link_to "Return to Treasure Hunts", root_path, class: "btn btn-block btn-primary" %></div>
	</div>
	
	<div class="span6">
		<section>
			<h2>Hunt Library</h2>
			<% if @user.hunts.count == 0 && @user.purchases.count == 0 %>
				<table class="table table-bordered table-condensed">
					<tbody><tr><td>None</td></tr></tbody>
				</table>
			<% else %>
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Online hunts</th>
							<th>Voucher</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<% @user.hunts.each do |hunt| %>
							<tr>  
							  <td><%= hunt.product.name %></td>
							  <td><%= hunt.voucher_code %></td>
								<% if !hunt.started %>
									<td><a href="/hunt_login?voucher=<%= hunt.voucher_code %>" class="btn btn-danger btn-small">Start Hunt</a></td>
								<% else %>
									<td><a href="/hunt_login?voucher=<%= hunt.voucher_code %>"><%= status_string(hunt) %></a></td>
								<% end %>
							</tr>			
						<% end %>

					<tbody>
				</table>

				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>PDFs</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @user.paid_purchases.each do |purchase| %>
							<% purchase.download_items.each do |item| %>
								<tr>  
								  <td><%= item.description %></td>
								  <td><%= link_to "Download", action: :download, id: @user.id, pid: item.product.id %></td>
								</tr>		
							<% end %>
						<% end %>
					<tbody>
				</table>
			<% end %>
		</section>
		
		<section>
			<h2>Order history</h2>
			<% if @user.paid_purchases.count == 0 %>
				<table class="table table-bordered table-condensed">
					<tbody><tr><td>None</td></tr></tbody>
				</table>
			<% else %>
				<div>
				<table class="table table-bordered table-condensed">
					<thead>
					<tr>
						<th>Description</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Value</th>
					</tr>
					</thead>
					<tbody>
				<% @user.paid_purchases.each do |purchase| %>
					<tr class="warning">
						<td colspan="4">Order reference: <strong><%= purchase.reference %></strong>, Date: <strong><%= purchase.date_purchased.to_formatted_s(:long) %></strong></td>
					</tr>
					<% purchase.purchase_items.each do |item| %>
						<tr>
						<td><%= item.description %></td>
						<td><%= number_to_currency(item.product.price) %></td>
						<td><%= item.quantity %></td>
						<td><%= number_to_currency(item.total_price) %></td>
						</tr>
					<% end %>
						<tr>
							<td colspan="3"><strong>Order total price</strong></td>
							<td><strong><%= number_to_currency(purchase.price_total) %></strong></td>
						</tr>
				<% end %>
					</tbody>
				</table>
				</div>
			<% end %>
		</section>
		

	</div>
	
</div>
<% if Rails.env.development? %>	
	<div class="well">
		<strong>Development console:</strong><br/>
		<%= link_to "Send welcome email", user_path( email: "welcome" ) %><br/>
		<%= "GMAIL_TEST_RECIPIENT = #{GMAIL_TEST_RECIPIENT}" %></br>
		<%= "GMAIL_SMTP_USER = #{GMAIL_SMTP_USER}" %></br>
	</div>
<% end %>


