<% provide(:title, @user.name) %>

<div class="row" >
	<aside class="span3 offset1 well">
			<%= link_to "Log out", signout_path, method: "delete", class: "pull-right" %>
		<section>
			<h1><%= @user.name %></h1>
			<em><%= @user.email %></em>
			<address>
				<%= output_address_line(@user.address_1) %>
				<%= output_address_line(@user.address_2) %>
				<%= output_address_line(@user.town) %>
				<%= output_address_line(@user.county) %>
				<%= output_address_line(@user.postcode) %>
				<%= output_address_line(@user.country) %>
				<%= output_phone(@user.phone) %>
			</address>
			<%= link_to "Edit my address", edit_user_path %><br/>
		</section>
	</aside>
	<div class="span6">
		<section>
			<h2>Transactions: <%= @user.purchases.count %></h2>
			<% @user.purchases.each do |purchase| %>
				<div style="margin-top: 60px">
				Date: <strong><%= purchase.date_purchased.to_formatted_s(:long) %></strong>, Reference: <strong><%= purchase.reference %></strong>
				<table class="table table-bordered table-condensed">
					<thead>
					<tr>
						<th>Description</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Sub total</th>
					</tr>
					</thead>
					<tbody>
						<% purchase.purchase_items.each do |item| %>
							<tr>
							<td><%= item.description %></td>
							<td>£<%= item.product.price %></td>
							<td><%= item.quantity %></td>
							<td>£<%= item.total_price %></td>
							</tr>
						<% end %>
						<tr>
							<td colspan="4" class="right"><strong>Order total price £<%= purchase.price_total %><strong></td>
						</tr>
					</tbody>
				</table>
				</div>
			<% end %>
		</section>
		
		<section>
			<h2>Hunt Library</h2>
			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>Online hunts</th>
						<th>Voucher</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% @user.hunts.each do |hunt| %>
						<tr>  
						  <td><%= hunt.product.name %></td>
						  <td><%= link_to hunt.voucher_code, "/hunt_login?voucher=" + hunt.voucher_code %></td>
						  <td><%= status_string(hunt) %></td>
						</tr>			
					<% end %>

				<tbody>
			</table>

			<table class="table table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th>PDFs</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @user.purchases.each do |purchase| %>
						<% purchase.purchase_items.each do |item| %>
							<% if item.product.format == "Download" %>
								<tr>  
								  <td><%= item.description %></td>
								  <td><%= link_to "Download", action: :download, id: @user.id, pid: item.product.id %></td>
								</tr>		
							<% end %>
						<% end %>
					<% end %>
				<tbody>
			</table>
			</section>
	</div>
	
</div>


<%= link_to "Send welcome email", user_path( email: "welcome" ) %>
