<%= render 'shared/error_messages', object: f.object %>

<div class="control-group">
	<%= f.label :date_purchased, class: "control-label" %>
	<div class="controls">
		<%= f.text_field :date_purchased %>
	</div>
</div>
<div class="control-group">
	<%= f.label :reference, class: "control-label" %>
	<div class="controls">
		<%= f.text_field :reference %>
	</div>
</div>
<div class="control-group">
	<%= f.label :price_total, class: "control-label" %>
	<div class="controls">
		<%= f.text_field :price_total %>
	</div>
</div>
<div class="control-group">
	<%= f.label :user_id, class: "control-label" %>
	<div class="controls">
		<%= f.text_field :user_id %>
	</div>
</div>
