<tr>
	<td><%= hunt.id %></td>
	<td><%= link_to hunt.product.product_code, hunt.product %></td>
	<td>
		<% unless hunt.user.nil? %>
			<%= link_to hunt.user.email, hunt.user  %>
		<% end %>
	</td>
	<td><%= link_to hunt.voucher_code, "#{hunt_login_url}?voucher=#{hunt.voucher_code}" %></td>
	<td><%= hunt.status %><% if hunt.status == "Ongoing" && hunt.paused %>, paused<% end %>
		<% if hunt.status == "Ongoing" %> [<%= hunt.current_clue %>]<% end %>
	</td>
	<td><%= link_to "Edit", edit_hunt_path(hunt.id) %><br/>
</tr>
<% if hunt.started? %>
<tr>
	<td></td>
	<td colspan="9">
		<% if !hunt.id.blank? %>
			<% if !hunt.started_at.nil? %>
				<em>Started at:</em> <%= hunt.started_at.to_formatted_s(:long) %>,
			<% end %>
			<% if !hunt.last_submitted.nil? %>
				<em>Last submitted:</em> <%= hunt.last_submitted.to_formatted_s(:long) %>,
			<% end %>
			<% if !hunt.time_taken.nil? %>
				<em>Time taken:</em> <%= hunt.time_taken %>
			<% end %>
		<% end %>
	</td>
</tr>
<% end %>