<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
<h2>Congratulations</h2>
<div class="row">
	<p><%= get_xml_node("product", "#{@hunt.product.data_file}.xml", "//outcome/congrat").inner_text.to_s.html_safe %></p>
	<p>You completed the hunt in <span class="badge badge-warning badge-large"><%= hunt_time(@hunt) %></span></p>
	<% @hunts_in_group = get_hunts_in_group %>
	<% get_hunts_in_group.each do |hunt| %> 
		<p><%= get_hunt_info(hunt, false, false) %></p>
	<% end %>
	<% xml_doc.xpath("//clues/after/output/*").each do |node| %>
		<p><%= node.inner_text.to_s.html_safe %></p>
	<% end %>
	<p>Have a look on our website and start planning your next Treasure Hunt...</p>
	<%= form_tag(root_path, html: { class: "form" }) do %>
		<%= submit_tag "www.TreasureHuntBritain.com", name: "submit_continue", class: "btn btn-block btn-primary" %>		
	<% end %>
</div>