	<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
	<% clue_node = xml_doc.xpath("//clues/clue[@number='#{@hunt.current_clue}']") %>
	<div class="row">
	<div class="blob"><h3><span id="cluelabel">CLUE</span><br/><span id="cluenumber"><%= @hunt.current_clue %></span></h3></div>
		<% clue_node.xpath("output/*").each do |node| %>
			<% if node.name() == "image" %>
				<div class="cluepic">
					<%= image_tag @hunt.product.data_file + "/tablet/" + node.inner_text.to_s, class: "img-polaroid" %>
				</div>
			<% else %>
				<p class="<%=node.name()%>"><%= node.inner_html %></p>
			<% end %>
		<% end %>

		<%= form_tag("/hunt_trail/" + @hunt.id.to_s, remote: true, class: "form", method: "post") do %>
			<div id="answerbox">
			<% if xml_doc.xpath("//style").inner_html == "elimination" %>
				<% answers = six_answers(xml_doc, @hunt.current_clue) %>
				<% answers.each do |ahash| %>
					<a class="btn btn-block" href="/hunt_trail/<%= @hunt.id.to_s %>?option_<%= ahash[:id].to_s %>=1&current_clue=<%= @hunt.current_clue %>" data-remote="true" data-method="post"><%= ahash[:text] %></a>
				<% end %>
			<% elsif xml_doc.xpath("//style").inner_html == "multichoice" %>
				<% clue_node.xpath("options/*").each do |node| %>
					<input class="btn btn-block" name="option_<%= node.parent.children.index(node).to_s.html_safe %>" type="submit" value="<%= node.inner_text.to_s.html_safe %>" />
				<% end %>
			<% else %>
				<label for="answer">Answer</label>
				<input id="answer" name="answer" size="30" type="text"/>			
				<input class="btn" name="submit_answer" type="submit" value="Answer" />			
			<% end %>			
			</div>
			<div id="buttonbar">
				<input name="current_clue" type="hidden" value="<%= @hunt.current_clue %>" />		
				<div class="btn-group">
					<input class="btn" name="submit_peek" type="submit" value="Peek" />			
					<input class="btn" name="submit_hint" type="submit" value="Hint" />			
					<input class="btn" name="submit_pass" type="submit" value="Pass!" />
					<button class="btn dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="/hunt_trail/<%= @hunt.id.to_s %>?submit_pause=1" data-remote="true" data-method="post">Pause hunt</a></li>
						<li><a href="/hunt_trail/<%= @hunt.id.to_s %>?submit_problem=1" data-remote="true" data-method="post">Clue broken</a></li>
						<li><a href="/hunt_trail/<%= @hunt.id.to_s %>?submit_restart=1" data-remote="true" data-method="post">Restart hunt</a></li>					</ul>					
				</div>
				<p><a href="/hunt_home/<%= @hunt.id.to_s %>?p=intro" class="whitelink">Instructions</a></p>
			</div>
			<section id="popup_confirm">
				<h2></h2>
				<p></p>
				<div class="outer"><div class="inner"><div class="center">
					<input class="btn" name="submit_ok" type="submit" value="OK" />			
					<input class="btn" name="submit_cancel" type="submit" value="Cancel" />			
					<input name="popaction" id="popup_action" type="hidden" />
				</div></div></div>
			</section>
		<% end %>
	</div>
	<section id="popup">
		<h2></h2>
		<p id="p1"></p>
		<p id="p2"></p>
		<div class="outer"><div class="inner"><div class="center">
		<a id="closepopup" href="#" class="btn"></a>
		</div></div></div>
	</section>
	<section id="popup_problem">
		<h2>Problem with this clue?</h2>
		<p>If you think this clue may be broken, click 'OK' then either guess the answer or 'Pass' the clue. If you can add any more details here, that would be very useful</p>
		<div class="outer"><div class="inner"><div class="center">
		<%= form_tag("/hunt_trail/" + @hunt.id.to_s, remote: true, class: "form", method: "post") do %>
			<p><input name="problem" type="text" size="300" value="" />	
			<input name="current_clue" type="hidden" value="<%= @hunt.current_clue %>" /></p>	
			<p><input class="btn" name="submit_problem_feedback" type="submit" value="OK" />		
			<input class="btn" name="submit_problem_cancel" type="submit" value="Cancel" /></p>		
		<% end %>
		</div></div></div>
	</section>
	<div id="overlay" class="main_dark_overlay"></div>
	<script>
		$('#closepopup').click(function(){
			$("#overlay").hide()
			$("#popup").hide()	
			if ($("#popup").attr("data-current") == 'correct')
			{
				$("#popup").attr("data-current") == ''
				window.location.replace(<%= @hunt.id.to_s %>);
			}
		})
		$('#okgiveup').click(function(){
			$("#overlay").hide()
			$("#popup_confirm").hide()	
			window.location.replace(<%= @hunt.id.to_s %>);
		})
		$('#cancelgiveup').click(function(){
			$("#overlay").hide()
			$("#popup_confirm").hide()	
		})
	</script>