<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>

<%# output_node = get_xml_node("product", "#{@hunt.product.data_file}.xml", "//clues/clue[@number='#{@hunt.current_clue}']/output/*") %>
<% output_node = xml_doc.xpath("//clues/clue[@number='#{@hunt.current_clue}']/output/*") %>

<h3>Clue <%= @hunt.current_clue %></h3>

<div class="row">
	
	<% output_node.each do |node| %>
		<p class="<%=node.name()%>"><%=node.name()%>: <%= node.inner_text.to_s.html_safe %></p>
	<% end %>
	
	<%= form_for(@hunt, html: { class: "form-horizontal well" }) do |f| %>

		<% if xml_doc.xpath("//style").inner_html == "elimination" %>
			<% answers = five_answers(xml_doc) %>
			<% answers.each do |ahash| %>
			<div class="answer_set">
				<div class="answer_btn">
					<%# link_to ahash[:index], "answer/" + ahash{:id} %>
					<%= f.submit ahash[:index], name: ahash[:id], class: "btn" %> 
				</div>
				<div class="answer_text">
					<%= ahash[:text] %>
				</div>
				<div class="answer_clear">&nbsp;</div>
			</div>
			<% end %>
		<% else %>
			<label for="answer">Answer</label>
			<input id="answer" name="answer" size="30" type="text"/>			
			<%= f.submit "Answer", name: "submit_answer", class: "btn" %>
		<% end %>
			
		<div id="buttonbar">
			<%= f.submit "Hint", name: "submit_hint", class: "btn" %>		
			<%= f.submit "Give up!", name: "submit_pass", class: "btn" %>		
			<%= f.submit "Peek", name: "submit_peek", class: "btn" %>		
			<%= f.submit "Pause", name: "submit_break", class: "btn" %>		
		</div>
	<% end %>
</div>
