<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
<% if @hunt.started? %>
	<h2>Hunt information</h2>
<% else %>
	<h2>Before you begin</h2>
<% end %>

<div class="row">
	<% if @hunt.started? %>
		<p>Take a minute to review the instructions and tips for successful hunting</p>
	<% else %>
		<p><%= xml_doc.xpath("//outcome/intro").inner_text.to_s.html_safe %></p>
		<% xml_doc.xpath("//clues/before/output/*").each do |node| %>
			<p><%= node.inner_text.to_s.html_safe %></p>
		<% end %>
	<% end %>
	
	<div class="accordion" id="condenser">
	<% if xml_doc.xpath("//style").inner_html == "elimination" %>
		<% answer_node = xml_doc.xpath("//outcome/selection/*") %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="btn btn-inverse btn-block" data-toggle="collapse" data-parent="#condenser" href="#collapseOne">See the quotes</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					<ul>
					<% answer_node.each do |node| %>
						<li><%= node.inner_text.to_s.html_safe %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="btn btn-inverse btn-block" data-toggle="collapse" data-parent="#condenser" href="#collapseTwo">Instructions</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse"><div class="accordion-inner">
				<p>On the next page you will see the first clue. Follow the directions and find the answer - 
				once you have chosen the correct answer you will continue to the next clue. You also have the following options:</p>
				<ul>
					<li><strong>Peek</strong> - you can peek ahead at the next direction, this is helpful if you think you may have walked too far</li>
					<li><strong>Hint</strong> - you can get a hint if you can't find the answer, but this comes with a 2 minute penalty</li>
					<li><strong>Pass!</strong> - if you really are stuck, you can pass on this clue and see the answer, but this comes with an 8 minute penalty</li>
					<li><strong>More</strong> - there are a couple of other options too...</li>
					<ul>
						<li><strong>Pause hunt</strong> - take a break, for tea! This stops the timer, though it does cost 2 minutes so only use it for proper breaks</li>
						<li><strong>Clue broken</strong> - please let us know if you think a clue cannot be solved, whether by roadworks or vandalism or whatever</li>					
						<li><strong>Restart hunt</strong> - in case you started by mistake! You'll go back to this start page, but note that the clock won't be wiped back to zero</li>					
					</ul>
				</ul>
				<p>Oh, and you should know that choosing a wrong answer costs 4 minutes, so make sure you choose carefully.</p>
			</div></div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="btn btn-inverse btn-block" data-toggle="collapse" data-parent="#condenser" href="#collapseThree">Hunting Tips</a>
			</div>
			<div id="collapseThree" class="accordion-body collapse"><div class="accordion-inner">
				<ul>
					<li>Look ahead at the next direction (the Peek button), so you'll know if you reach it that you've gone too far for this clue</li>
					<li>Picture clues can be tough to see in strong sunlight, look around for some shade where you can study them more easily</li>
					<li>If there's a big group of you playing as one team, feel free to enter the same voucher code on more than one device and follow along together (if one person answers a clue on their device, the others can just refresh the page on their own devices and they'll see the next clue)</li>
					<li>If you can't find a clue, look out for scaffolding, roadworks or other recent changes - the clue may have been hidden (in which case you may have no choice but to "Pass!" on it)</li>
					<li>Please let us know if any clues have vanished or become hidden, it will help us keep our hunts bang up-to-date</li>
					<li>Have fun!</li>
				</ul>
			</div></div>
		</div>
	</div>

	<%= form_tag("/hunt_trail/" + @hunt.id.to_s, class: "form", method: "post") do %>
		<% if @hunt.started? %>
			<input class="btn btn-block btn-primary" name="submit_continue" type="submit" value="Continue hunting" />			
		<% else %>
			<input class="btn btn-block btn-primary" name="submit_start_hunt" type="submit" value="Start the hunt!" />			
		<% end %>	
	<% end %>
	
	<p><%= link_to( "Treasure Hunt Britain homepage", root_path ) %></p>
	
</div>