<% xml_doc = load_xml("product", "#{@hunt.product.data_file}.xml") %>
<h1>Before you begin</h1>

<div class="row">
	<%= get_xml_node("product", "#{@hunt.product.data_file}.xml", "//outcome/intro").inner_text.to_s.html_safe %>
	
	<% if xml_doc.xpath("//style").inner_html == "elimination" %>
		<% answer_node = xml_doc.xpath("//outcome/selection/*") %>
		<div class="accordion" id="condenser">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="btn btn-block" data-toggle="collapse" data-parent="#condenser" href="#collapseOne">See the quotes</a>
				</div>
				<div id="collapseOne" class="accordion-body collapse">
					<div class="accordion-inner">
						<ul>
						<% answer_node.each do |node| %>
							<li><%= node.inner_text.to_s.html_safe %></li>
						<% end %>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="btn btn-block" data-toggle="collapse" data-parent="#condenser" href="#collapseTwo">Instructions</a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
<p>On the next page you will see the first clue. Follow the directions and find the answer - 
once you have chosen the correct answer you will see the next clue. You also have the following options:
<ul><li><strong>Hint</strong> - you can get a hint if you can't find the answer, but this comes with a 2 minute penalty</li>
<li><strong>Peek</strong> - you can peek ahead at the next directions, this is helpful if you think you may have walked too far</li>
<li><strong>Give up!</strong> - if you really are stuck, you can pass on this clue and see the answer, but this comes with a 5 minute penalty</li>
<li><strong>Pause</strong> - pause the hunt, for a tea break! This stops the timer, though it does cost 2 minutes so don't use it too often</li>
<ul>
Oh, and you should know that choosing a wrong answer costs 2 minutes, so make sure you choose carefully.</p>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div id="containCollapse">
			<button type="button" class="btn" data-toggle="collapse" data-target="#instruct">
<p>On the next page you will see the first clue. Follow the directions and find the answer - 
once you have entered the correct answer you will see the next clue. You also have the following options:
<ul><li><strong>Hint</strong> - you can get a hint if you can't find the answer, but this comes with a 2 minute penalty</li>
<li><strong>Peek</strong> - you can peek ahead at the next directions, this is helpful if you think you may have walked too far</li>
<li><strong>Give up!</strong> - if you really are stuck, you can pass on this clue and see the answer, but this comes with a 5 minute penalty</li>
<li><strong>Pause</strong> - pause the hunt, for a tea break! This stops the timer, though it does cost 2 minutes so don't use it too often</li>
<ul>
Oh, and you should know that entering a wrong answer costs 2 minutes, so make sure you choose carefully.</p>
			</button>
			<div id="instruct" class="collapse">
				How to play the hunt
			</div>
		</div>
	<% end %>

	<%= form_for(@hunt, html: { class: "form-horizontal well" }) do |f| %>
		<% if @hunt.started? %>
			<%= f.submit "Close", name: "submit_resume", class: "btn btn-block btn-primary" %>		
		<% else %>
			<%= f.submit "Start the hunt!", name: "submit_start_hunt", class: "btn btn-block btn-primary" %>
		<% end %>	
	<% end %>
	
</div>