var clue = "<%= @popup_action %>"
var popup_type = "#<%= @popup_type %>"

/* if ($(popup_type).attr("data-current") != clue) { */

	$(popup_type + ' h2').text("<%= @popup_header.to_s.html_safe %>")
	if (popup_type == "#popup_confirm") {
		$('#popup_confirm p').text("<%= @popup_content.to_s.html_safe %>")
		$('#popup_confirm #popup_action').attr("value", '<%= @popup_action %>')
	} else {
		if (clue == "stats") {
			var html = [];
			
			html.push("<ul>");
			html.push("<li><%= get_hunt_info(@hunt, true) %></li>");
			<% get_hunts_in_group.each do |hunt| %> 
				html.push("<li><%= get_hunt_info(hunt, false) %></li>");
			<% end %>

			html.push("</ul>");

			$('#popup #p1').html(html.join(""))

		} else {
			$('#popup #p1').text("<%= @popup_content.to_s.html_safe %>")
		}

		$('#popup a').text('OK')
		
	}
	$(popup_type).attr("data-current", clue)
/* } */

$("#overlay").show()
$(popup_type).show()


