<h1>Set team name</h1>

<div class="row">
<%= form_for(@hunt, url: "/hunt_trail/"+@hunt.id.to_s , method: :post, html: { class: "form-horizontal well" }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>

	<%= f.label :team_name %>
	<%= f.text_field :team_name %>

	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.submit "Set", name: "submit_team_name", class: "btn btn_large btn_primary" %>
<% end %>
</div>
