<% provide(:title, @location.name) %>

<% xml_doc = load_xml("location", "#{@location.name}.xml") %>
<% root_node = xml_doc.root %>


<section id="popups">
	<a id="closepopup" href="#"><%= image_tag "Close.png", alt: "Close popup" %></a>
	<h2><%= root_node.xpath("title").inner_html %></h2>
	
	<div id="accordion">
		<% root_node.xpath("tab").each do |node| %>
			<article id="<%= root_node.get_attribute("id") %>">
				<% if node.get_attribute("type") == "text" %>
					<span class="label">
						<%= node.xpath("label").inner_html %>
					</span>
					<p>
						<span class="header"><%= node.xpath("label").inner_html %></span>
						<%= node.xpath("content").inner_html %>
					</p>
				<% else %>
					<span class="label">
						<%= node.xpath("label").inner_html %>
					</span>
					<img src="<%= node.xpath("images/image").inner_html %>"/>
				
				<% end %>
			</article>  
		<% end %>
	</div>
	
	
	<ul id="popupmenu">
		<% @location.products.each do |prod| %>
			<li>
				<a href="#">
					<img src="img/BuyPDF.png" alt="If you download the PDF hunt you will need to have your own printer to print it out."/>
					Download PDF - £3.99</a>
			</li>
		<% end %>
	</ul>
</section>



