<section id="boxes">
	<ul class="box activeview" id="box">
		<li>
			<span class="placelabel" style="background-color: <%= random_colour %>;">What people say</span>
			<span class="placename">What people say</span>
			<%= image_tag "places/BathMain.JPG", alt: "Testimonials", title: "Testimonials"  %>
		</li>
		<% @locations.each do |loc| %>
			<% if loc.products.count - loc.dormant_products.count > 0 %>
				<%= link_to "accordion/#{loc.id}", remote: true do %>
					<li data-hunt="<%= loc.name %>">
						<span class="placelabel" style="background-color: <%= random_colour %>;"><%= loc.description %></span>
						<span class="placename"><%= loc.description %></span>
						<%= image_tag "places/"+loc.image, alt: loc.description, title: loc.description  %>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</section>

<section id="popup">
	<a id="closepopup" href="#"><%= image_tag "Close.png", alt: "Close popup" %></a>
	<h2></h2>
	<div id="accordion"></div>
	<ul id="popupmenu">
		<li id="producttemplate">
			<%= form_tag("/add_to_cart", class: "form-inline", method: "post") do %>
				<select name="product_id" value="Choose a hunt" class="input-large"/>
				</select>
				<input name="num" type="hidden" value="1"/>
				<button name="commit" type="submit" class="btn">Buy</button>
			<% end %>
		</li>
	</ul>
</section>

<article id="tabtemplate" style="display:none"><span></span></article>  
<div id="overlay" class="main_dark_overlay"></div>

