<tr>
	<td><%= product.id %></td>
	<td><%= product.product_code %></td>
	<td><%= link_to product.location.name, product.location %></td>
	<td><%= link_to product.name, product %></td>
	<td><%= product.format %></td>
	<td><%= product.price %></td>
	<td><%= product.data_file %></td>
	<td><%= link_to "Edit", edit_product_path(product.id) %>
</tr>
