<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= get_title(@page_title) %></title>
  <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "marketing", :media => "all" %>
  <%= javascript_include_tag "marketing" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="shortcut icon" href="<%=asset_path("THB-favicon.ico")%>">
</head>
<body>
	<%= render 'header' %>
	<div id="topnote" class="row">
		<%= render 'topnote' %>
	</div>
	<% flash.each do |key, value| %>
		<div class="<%= "alert alert-#{key}" %>" style="width: 50%;text-align: center;margin: auto">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <%= value %>
		</div>
	<% end %>
	<%= yield %>
	<%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>	
</body>
</html>

<script>
	$(document).keyup(function(e) {
		if (e.keyCode == 27) { 
			$("#overlay").hide()
			$("#popup").hide()	
		}
	});
	$(document).ready(function(){
		$("#contactForm").validate();
		if( "<%=@mode%>" == "feedback" ) {
			$('#topnotebar ul li').click()
		}
	});
	$('#closepopup').click(function(){
		$("#overlay").hide()
		$("#popup").hide()	
	})
	$('.closetopnote').click(function(){
		$("#topnotebar li.activelink").removeClass("activelink")
		$("#topnote").height(5)	
	})

	$('#topnotebar ul li').click(function() {
		var active = $("#topnotebar li.activelink")
		
		if( active.index() == -1 ) {
			$(this).addClass("activelink")
			
		} else if( active.index() == $(this).index() ) {
			$(this).removeClass("activelink")
			
		} else {
			$(this).addClass("activelink")
			active.removeClass("activelink")
		}

		var n = $(this).index()
		
		if ( ! $(this).hasClass("activelink") ) {	
			$("#topnote").height(5)	
		} else {
			$(".panel:not(:eq("+n+"))").hide()
			$(".panel:eq("+n+")").show()
			$("#topnote").height(300)	
		}
	});
	
	function expandTab(tab) {
		if ( tab.hasClass("tabopen") ){
		} else {
			$("#popup article.tabopen").toggleClass("tabopen")
			tab.toggleClass("tabopen")
		}
	}
</script>
